@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title-container {
  height:100%;
  display:flex;
  flex-direction: column;
}

.main-navigation__title {
  margin-left: 17px;
  margin-bottom:0;
  display:inline;
  flex:1;
  
}
.main-navigation__subtitle {
  margin-top: 0;
  margin-left: 17px;
  padding:0;
  display:inline;
  flex:1;
}



.main-navigation__title-icon {
  display:inline
}

.main-navigation__title-icon img{
  border-radius: 40px;
  width:80px;
  height:80px;
}

.main-navigation__title a {
  margin:0;
  text-decoration: none;
  color: #f4f6e2;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
}
.main-navigation__subtitle a {
  margin : 0;
  text-decoration: none;
  color: #9496a2;
  font-family: 'Nanum Myeongjo', serif;
  font-size:15px;
  padding:0;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}